<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitt CV</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <h1>Mitt CV</h1>

        <nav>
            <ul>
                <li><a href="/">Mina kurser</a></li>
                <li><a href="/addCourse">Lägg till kurs</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Om sidan</h2>

        <article>
            <h3>Syfte och funktion</h3>
            <p class="text-paragraf">Denna webbplats är skapad som en del av laboration 1 i kursen Backend-baserad webbutveckling. Syftet med webbplatsen 
                är att ge användare möjlighet att skapa ett eget CV genom att lägga till de kurser de har läst i webbutvecklingsprogrammet.
                Webbplatsen är byggd med Node.js och Express, och använder EJS för att rendera HTML-sidor. En automatiserad process med Vite 
                har använts för att underlätta arbetsprocessen och optimera webbplatsen. Sass har använts för styling.</p>
        </article>

        <article>
            <h3>Databas</h3>
            <p class="text-paragraf">Databasen skapades med hjälp av servern MySQL och MySQL Workbench. För att skapa min databas skapade jag till att börja med 
                ett ER-diagram. Detta diagram innehöll en entitet som heter courses med frya tillhörade attribut. course_id som är en primärnyckel, course_name, 
                course_code, progression och syllabus. När ER-diagrammet var färdigställt skapade jag en SQL-fil i MySQL Workbench som innehöll min skapade databas 
                och tabellen courses. När databasen var skapad anslöt jag den till min server med hjälp av npm paketet mysql2. 
            </p>
        </article>

        <article>
            <h3>Slutsatser</h3>
            <p class="text-paragraf">Slutsatserna som dragits utifrån denna uppgift är att det är ett relativt annorlunda arbetssätt att arbeta med backend-utveckling. 
                Jag anser att det är fler aspekter som ska behandlas och det blev för mig mer komplext att exempelvis koppla min styling till min express-server. Däremot 
                trodde jag att det skulle vara mer komplext att arbeta med databaser och servrar än vad det faktiskt var. Jag känner även att det blir en väldigt tydlig 
                enhetlighet i projekten när jag har kontroll över både frontend och backend. Därmed ser jag fram emot att lära mig mer om backend-utveckling.
            </p>
        </article>
    </section>
</body>
</html>