<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitt CV</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <h1>Mitt CV</h1>

        <nav>
            <ul>
                <li><a href="/">Mina kurser</a></li>
                <li><a href="/addCourse">Lägg till kurs</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Om sidan</h2>

        <article>
            <h3>Syfte och funktion</h3>
            <p>Denna webbplats är skapad som en del av laboration 1 i kursen Backend-baserad webbutveckling. Syftet med webbplatsen 
                är att ge användare möjlighet att skapa ett eget CV genom att lägga till de kurser de har läst i webbutvecklingsprogrammet.
                Webbplatsen är byggd med Node.js och Express, och använder EJS för att rendera HTML-sidor. En automatiserad process med Vite 
                har använts för att underlätta arbetsprocessen och optimera webbplatsen.</p>
        </article>

        <article>
            <h3>Databas</h3>
            <p>Databasen skapades.....</p>
        </article>

        <article>
            <h3>Slutsatser</h3>
            <p>Slutsatserna som dragits utifrån denna uppgift är att...</p>
        </article>
    </section>
</body>
</html>