<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitt CV</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <h1>Mitt CV</h1>

        <nav>
            <ul>
                <li><a href="/">Mina kurser</a></li>
                <li><a href="/addCourse">Lägg till kurs</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Lägg till kurs</h2>

        <form id="courseForm" action="/addCourse" method="POST">
            <div>
                <label for="courseName">Kursnamn:</label>
                <input type="text" id="courseName" name="courseName" required>
            </div>

            <div>
                <label for="courseCode">Kurskod:</label>
                <input type="text" id="courseCode" name="courseCode" required>
            </div>

            <div>
                <label for="prog">Kursprogression:</label>
                <input type="text" id="prog" name="prog" required>
            </div>

            <div>
                <label for="syll">Länk till kursplan:</label>
                <input type="text" id="syll" name="syll" required>
            </div>

            <button type="submit" id="submitBtn">Lägg till kurs</button>
        </form>
    </section>
</body>
</html>