<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitt CV</title>
</head>

<body>
    <h1>Mitt CV</h1>
    <p>På denna webbplats kan du skapa ett eget CV med de kurser du har läst i Mittuniversitetets webbutvecklingsprogram.</p>

    <nav>
        <ul>
            <li><a href="/">Mina kurser</a></li>
            <li><a href="/addCourse">Lägg till kurs</a></li>
            <li><a href="/about">Om sidan</a></li>
        </ul>
    </nav>

    <section>
        <h2>Dina kurser</h2>
        <ul id="yourCourses"></ul>
    </section>

    <script src="/main.js"></script>
</body>
</html>