body {
    font-family:'Trebuchet MS', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin: 5vh 5vw;
    font-size: 1.75rem;
}

h3 {
    margin: 5vh 5vw 1vh 5vw;
    font-size: 1.25rem;
}