@use './layout' as *;

#submitBtn {
    margin-top: 5vh;
    width: 15rem;
    color: white;
    background-color: $primary-grey;
    border: none;
    padding: 1.5vh 1vw;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

#submitBtn:hover {
        background-color: #6d6d6d;
    }

#remove-button {
    background-color:rgb(173, 1, 35);
    color: white;
    border: none;
    padding: 1.5vh 1vw;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
}

#remove-button:hover {
    background-color: $primary-grey;
}

@media (max-width: 1024px) {
    #remove-button {
        border-radius: 0.5rem;
        margin-top: 2vh;
    }
}